@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "roboto";
  background-color: #FFFFE8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 7em;
  width: 100%;
}
nav h1 {
  color: black;
  margin-left: 2em;
  font-weight: 900;
  font-size: 2.5em;
  text-shadow: 1.5px 1.5px 0px #DC758F;
}
nav h1 span {
  font-family: "allura";
  font-size: 2em;
}
nav div > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 1em;
  width: 40em;
}
nav div > ul li {
  margin-right: 2em;
}
nav div > ul li:first-child {
  margin-right: 2em;
}
nav div > ul li:nth-child(2) {
  margin-right: 6em;
}
nav div > ul li a {
  color: black;
  font-family: "roboto";
  font-size: 1.2em;
}
nav div > ul li a:hover {
  color: #DC758F;
  transition: 0.2s;
}

.deco {
  font-size: 0.8em;
}

#burger {
  display: none;
}

#biens {
  position: relative;
}
#biens:hover {
  cursor: pointer;
}
#biens > ul {
  display: none;
  position: absolute;
}
#biens > ul > li:hover {
  cursor: pointer;
}
#biens > ul:hover {
  cursor: pointer;
}

header {
  height: 100vh;
}
header > div {
  height: 40em;
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 12em;
  margin-left: auto;
  margin-right: auto;
}
header > div > h2 {
  color: black;
  font-weight: 900;
  font-size: 4em;
  text-shadow: 2px 2px 0px #DC758F;
  text-align: center;
  width: 100%;
}
header > div > h2 span {
  font-family: "allura";
  font-size: 2em;
}
header > div > p {
  margin-top: 1.5em;
  text-align: center;
  font-size: 1.5em;
}

#login_sigin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login_sigin > div {
  width: 30%;
  margin-top: 8em;
}
#login_sigin > div h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  text-shadow: 1px 1px 0px #DC758F;
}
#login_sigin > div .already {
  font-size: 0.9em;
  margin-top: 4em;
}

.alert {
  transform: scale(1.5);
  text-align: center;
  color: #DC758F;
  animation-duration: 10s;
  animation-name: moove;
}

@keyframes moove {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}
form {
  width: 100%;
  margin-top: 2em;
}
form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}
form > div input {
  margin-top: 0.5em;
  border: 2px solid #161925;
  background-color: transparent;
  height: 3em;
  width: 100%;
  border-radius: 15px;
}
form > div small {
  color: #DC758F;
}
form > div button {
  width: 8em;
  background-color: transparent;
  border: 3px solid #161925;
  background-color: transparent;
  height: 2em;
  border-radius: 25px;
  font-family: "roboto";
  font-size: 1em;
  position: relative;
  transition: all 1ms linear;
  box-shadow: 2px 3px 0px 0px gray;
  z-index: 2;
}
form > div button:active {
  top: 2px;
  left: 3px;
  box-shadow: 0px 0px 0px 0px;
  border: 0px solid white;
}
form > div button:hover {
  background-color: #DC758F;
  color: #161925;
  cursor: pointer;
}
form > div textarea {
  margin-top: 0.5em;
  border: 2px solid #161925;
  background-color: transparent;
  height: 6em;
  width: 100%;
  border-radius: 15px;
}
form > div select {
  margin-top: 0.5em;
  border: 2px solid #161925;
  background-color: transparent;
  height: 3em;
  width: 50%;
  border-radius: 15px;
}
form > div #picture {
  display: none;
}
form > div #btnpicture {
  width: 50%;
  background-color: transparent;
  border: 2px solid #161925;
  background-color: transparent;
  height: 2em;
  border-radius: 25px;
  font-family: "roboto";
  font-size: 1em;
  text-align: center;
}
form > div #btnpicture:hover {
  color: #161925;
  cursor: pointer;
}
form #check {
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.8em;
}
form #check input {
  height: 1em;
  width: 1em;
  margin-top: 0px;
  margin-right: 1em;
}

#products {
  width: 95%;
  height: auto;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#products h2 {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 1px 1px 0px #DC758F;
  margin-bottom: 2em;
}

.sheetrow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.aptsheet {
  margin-left: 1.5em;
  margin-right: 1.5em;
  width: 20%;
  min-width: 370px;
  height: 475px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 1.5em;
  transition: all 0.3s ease-out;
}
.aptsheet > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.aptsheet > div > a {
  width: 8em;
  background-color: transparent;
  border: 2px solid #161925;
  color: black;
  text-shadow: none;
  height: 2em;
  border-radius: 25px;
  font-family: "roboto";
  font-size: 0.9em;
  font-weight: 100;
  margin-top: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.aptsheet > div > a:hover {
  background-color: #DC758F;
  color: white;
  cursor: pointer;
}
.aptsheet:hover {
  box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px), scale(1.05), rotateX(15deg);
}
.aptsheet img {
  width: 95%;
  height: 250px;
  margin: 20px 10px 20px 10px;
  border-radius: 5px;
}
.aptsheet p {
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
}
.aptsheet > a {
  text-transform: uppercase;
  width: 8em;
  background-color: transparent;
  font-family: "roboto";
  border: 2px solid #161925;
  color: black;
  height: 2em;
  border-radius: 25px;
  font-family: "roboto";
  font-weight: 700;
  font-size: 0.8em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.aptsheet > a:hover {
  background-color: #DC758F;
  color: #161925;
  cursor: pointer;
}

.prix {
  margin-bottom: 1em;
  margin-top: 1em;
}

.adress {
  font-style: italic;
}

#productsheet {
  width: 40%;
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
}
#productsheet img {
  width: 100%;
  height: 400px;
  margin-bottom: 1em;
  border-radius: 10px;
}
#productsheet p {
  width: 70%;
  margin-top: 1em;
}
#productsheet > a {
  text-transform: uppercase;
  width: 15em;
  background-color: transparent;
  border: 2px solid #161925;
  color: black;
  height: 2em;
  border-radius: 25px;
  font-family: "roboto";
  font-size: 0.8em;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
#productsheet > a:hover {
  background-color: #DC758F;
  color: white;
  cursor: pointer;
}

#profil {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}
#profil > h2 {
  text-align: center;
  font-size: 3em;
  text-shadow: 1px 1px 0px #DC758F;
  margin-bottom: 1em;
}
#profil > h2 > a {
  width: 8em;
  background-color: transparent;
  border: 2px solid #161925;
  color: black;
  text-shadow: none;
  height: 1.5em;
  border-radius: 25px;
  font-family: "roboto";
  font-size: 0.4em;
  font-weight: 100;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
#profil > h2 > a:hover {
  background-color: #DC758F;
  color: white;
  cursor: pointer;
}
#profil > h3 {
  font-size: 1.5em;
  height: 2em;
}
#profil > a {
  text-transform: uppercase;
  width: 15em;
  background-color: transparent;
  border: 2px solid #161925;
  color: black;
  height: 2em;
  border-radius: 25px;
  font-family: "roboto";
  font-size: 0.8em;
  margin-top: -0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
#profil > a:hover {
  background-color: #DC758F;
  color: white;
  cursor: pointer;
}

#admin {
  margin-top: 3em;
  width: 100%;
}
#admin form {
  width: 400px;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}
#admin div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}
#admin div table {
  width: 40%;
  border: 1px solid #161925;
}
#admin div table td {
  text-align: center;
  border: 1px solid #161925;
}

.supp {
  color: blue;
  width: 80px !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.supp > input {
  background-color: transparent;
  border: transparent;
  width: 70px;
  color: #DC758F;
}
.supp > input:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
